div{
    padding: 10px;
    border: 1.5px solid seagreen;
    text-align: center;
    &:hover{
        background-color: seagreen ; 
        transition: ease-in-out .26s ;
         h2{
             color: white;
         }
     }
}

h2{
    color: springgreen;
}